<div class="deck">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-lg-2 deck-hat">
                <h3 class="gray">Local Time</h3>
                <div id="local-time"></div>
            </div>

            <div class="col-sm-6 col-lg-2" id="scorecard">
                <h3 class="gray deck-hat">Condition now</h3>
                <h3 id="condition-now" class="phosphorescent"></h3>
            </div>

            <div class="col-sm-1 col-lg-1 desktop deck-hat">
                <div id="hourly-yaxis">
                    <span id="hourly-max"></span>
                    <span id="hourly-mid"></span>
                    <span id="hourly-min"></span>
                </div>
            </div>
            <div class="col-sm-12 col-lg-7 desktop deck-hat">
                <h3 class="gray">Hourly Conditions <label>(drag to show more)<label></h3>
                <div id="hourly-chart" class="mask"></div>
            </div>

        </div>
    </div>
</div>

