<div class="container main-input">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <label>Search for a sensor by name or ID</label>
            <form>
                <input type="text" class="search-input" placeholder="Sensor name">
                <input type="submit" class="search-submit">go</input>
            </form>
        </div>
    </div>
</div>

