<div class="modal" id="initial-modal">
    <div class="in-modal">
        <p>Remote sensors in 40 locations relay hourly data on the quality of air in <span class="orange">São Paulo</span>, a city of 11.3 million residents.</p>
        <span class="close">&#10006;</span>
    </div>
</div>
