
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-4 content-block">
            <p id="section-join"><%= overview %></p>
        </div>
    </div>
</div>

<div class="banner">
    <div class="banner-img" role="presentation" style="background: url(<%= banner %>) no-repeat center center; background-size: cover;"></div>
    <div class="container overlay">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 inverted" style="opacity: .85">
                <p class="main-image"><strong><%= tagline %></strong> <%= description %></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-4 content-block2">
            <p>Particulate matter (PM) is an air pollution term for a mixture of solid particles and liquid droplets found in the air. The pollutant comes in a variety of sizes and can be composed of many types of materials and chemicals. Particles that are small enough to be inhaled have the potential to cause health effects. Of particular concern is a class of particles known as fine particulate matter or PM2.5 that gets deep into the lung.</p>
            <p>Inhalable particles, particularly fine particles, have the greatest demonstrated impact on human health. Their small size allows them to get deep into the lungs and from there they can reach or trigger inflammation in the lung, blood vessels or the heart, and perhaps other organs. Studies have linked PM exposure to health problems, including some cancers.</p>
            <p>For more on particulate matter health concerns, see the <a href="http://whqlibdoc.who.int/hq/2006/WHO_SDE_PHE_OEH_06.02_eng.pdf?ua=1">WHO report</a>.</p>
        </div>
    </div>
</div>
