<div class="container report">
    <div class="row align-bottom-container">
        <div class="col-sm-12 col-lg-10 col-lg-offset-1 pop-chart">
            <h3 class="sensor-number tooltip-sensor-name" id="<%= id %>-pop"><%= name %></h3>
            <div>
                <p class="sensor-location"><strong>Location: </strong> <%= location %></p>
            </div>
            <div class="mask" id="<%= id %>-chart"></div>
        </div>
    </div>

    <div class="row" style="margin-top: 1em;">
        <div class="co-sm-12 col-lg-10 col-lg-offset-1">
            <div id="report-table"></div>
        </div>
    </div>
</div>

