<div class="container main-input" id="<%= id %>">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <label>Search for a sensor by name or ID, or locate it on the map</label>
            <form>
                <input type="text" class="search-input">
                <input type="submit" class="search-submit" value="search"></input>
            </form>
        </div>
    </div>
</div>
<div class="half-map" id="search-map"></div>
