<table class="table-full">
    <thead><tr>
        <% _.each(headers, function(hed) { %>
            <td><%- hed %></td>
        <% }); %>
    </tr></thead>
    <tbody>

        <% _.each(rows, function(row) { %>
        <tr>
            <% _.each(row, function(cell) { %>
                <td><%= cell %></td>
            <% }); %>
        </tr>
        <% }); %>
    </tbody>
</table>
