/****************************************************/
/************** Map *********************************/

.full-map { height: 100%; }
.teaser-map { height: 75%; }
.half-map { height: 100%; }

.circle-marker {
    font-family: Arvo, Georgia, serif;
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: #FEFEFE;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    opacity: .9;
    filter: alpha(opacity=9);
    font-size: 18px;

    background: #988838;

    cursor: pointer;

    -webkit-animation: fadein .3s;
    -moz-animation: fadein .3s;
    animation: fadein .3s;
}

.circle-marker.null {
    background: #6E6E6E;
    opacity: .8;
}

@keyframes fadein {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@-moz-keyframes fadein {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@-webkit-keyframes fadein {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

.map-pop {
    width: 240px;
    @include medium {
        width: 360px;
    }
    @include large {
        width: 600px;
    }
}

.leaflet-popup-content {
    width: auto !important;
    font-family: Arvo, Georgia, serif;
}

.map-pop-data {
    width: 100%;
    font-size: 14px;
    table-layout: fixed

    td {
        width: 25%;
    }

    thead td {
        font-weight: bold;
    }
}
