/****************************************************/
/************** Map *********************************/

.full-map { height: 100%; }
.teaser-map { height: 75%; }
.half-map { height: 100%; }

.circle-marker {
    fill: #7F7D78;
    stroke: #fefefe;
    fill-opacity: .8;
    stroke-opacity: .4;
    cursor: pointer;

    -webkit-animation: fadein .3s;
    -moz-animation: fadein .3s;
    animation: fadein .3s;
}

.icon-marker {
    -webkit-animation: fadein .3s;
    -moz-animation: fadein .3s;
    animation: fadein .3s;
}

@keyframes fadein {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@-moz-keyframes fadein {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@-webkit-keyframes fadein {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

.map-pop {
    width: 240px;
    @include medium {
        width: 360px;
    }
    @include large {
        width: 600px;
    }
}
.pop-image > img { width: 100%; }

.leaflet-popup-content { width: auto !important; }
