h1, h2, h3, h4, h5, h6,
p, div, span, section, lable, ul, li {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    color: #333;
    height: 100%;
    font-family: Arvo, Georgia, serif;
    position: relative;
    margin: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
.close,
.what,
.header,
.modal,
.phosphorescent,
.deck {
    background-color: #fff;
}

.input-block,
.content-block {
    padding: 0.5em 0;
}

.main-input {
    margin-top: 30px;
    padding-top:15px;
    padding-bottom:20px;
    width:100%;
    position:absolute;
    z-index:1000;
    background: rgba(255,255,255,.6);

}

.inverted {
    background-color: #333;
    color: #fefefe;
}

.overlay {
    margin-top: -40%;
}

/****************************************************/
/************** Box Shadow **************************/

.header,
.modal,
.deck {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.75);
}

/****************************************************/
/************** Container ***************************/

#air {
    padding-top: 60px;
    height: 100%;
}

/****************************************************/
/************** Modal *******************************/

.modal {
    position: fixed;
    text-align: center;
}

.in-modal {
    position: relative;
    margin: 24px;
}

.in-modal > .close {
    top: -16px;
    right: -16px;
}

#initial-modal {
    left: 1%;
    top: 80px;
    width: 98%;
    z-index: 1001;
}


/****************************************************/
/************** Deck ********************************/

.deck {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 48px;
    z-index: 1000;
}

.deck .mask {
    height: 48px;
}

.deck-hat { padding-top: 4px; }

.mask {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slider {
    position: absolute;
    right: 0;
    top: 0;
}

.drag {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

/****************************************************/
/************** Report ******************************/

.report {
    margin: 24px 0;
}

table {
}

table > thead {
    font-weight: bold;
}

table > thead td {
    border-bottom: 1px solid #eee;
}

table td {
    text-align: center;
    padding: 12px 0;
}

.table-full {
    width: 100%;
    table-layout: fixed;
}

/****************************************************/
/************** Indicators **************************/

#local-time { color: #988838; }
#condition-now {
    padding: 0 4px;
    border-radius: 4px;
    display: inline-block;
}
