/****************************************************/
/************** Media Queries ***********************/

.mobile     {   display: block;     }
.tablet     {   display: none;      }
.desktop    {   display: none;      }

@media only screen and (min-width: 480px) {
    .mobile     {   display: none;      }
    .tablet     {   display: block;     }
    .desktop    {   display: none;      }

    .col-md-1  { width: 8.333333333333332%;    }
    .col-md-2  { width: 16.666666666666664%;   }
    .col-md-3  { width: 25%;                   }
    .col-md-4  { width: 33.33333333333333%;    }
    .col-md-5  { width: 41.66666666666667%;    }
    .col-md-6  { width: 50%;                   }
    .col-md-7  { width: 58.333333333333336%;   }
    .col-md-8  { width: 66.66666666666666%;    }
    .col-md-9  { width: 75%;                   }
    .col-md-10 { width: 83.33333333333334%;    }
    .col-md-11 { width: 91.66666666666666%;    }
    .col-md-12 { width: 100%;                  }
    .col-md-offset-0 { margin-left: 0%; }
    .col-md-offset-1 { margin-left: 8.333333333333332%; }
    .col-md-offset-2 { margin-left: 16.666666666666664%; }
    .col-md-offset-3 { margin-left: 25%; }
    .col-md-offset-4 { margin-left: 33.33333333333333%; }
    .col-md-offset-5 { margin-left: 41.66666666666667%; }
    .col-md-offset-6 { margin-left: 50%; }
    .col-md-offset-7 { margin-left: 58.333333333333336%; }
    .col-md-offset-8 { margin-left: 66.66666666666666%; }
    .col-md-offset-9 { margin-left: 75%; }
    .col-md-offset-10 { margin-left: 83.33333333333334%; }
    .col-md-offset-11 { margin-left: 91.66666666666666%; }
    .col-md-offset-12 { margin-left: 100%; }

    h3 { display: block; }

    .input-block,
    .content-block {
        padding: 1.2em 0;
    }

    .local {
        font-size: 18px;
        line-height: 24px;
        margin-top: 4px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }

    #initial-modal {
        width: 60%;
        left: 20%;
    }

    .deck {
        height: 80px;
        width: 76%;
        left: 12%;
    }

    .map-pop { width: 360px; }

    .deck .mask { height: 80px; }
    .deck-hat { padding-top: 6px; }
	}

	h1 {
        margin: 21px 0 0 0em;
        font-size: 28px;
        text-align:center;
    }
    
    h2 {
        margin: 5px 0 0 0em;
        font-size: 14px;
        text-align:center;
    }
    
	 .search-input {
        width:80%;
    }
    
    .main-input {
    margin-top:90px;
    padding-top:15px;
    padding-bottom:20px;
    width:100%;
    position:absolute;
    z-index:1000;
    background: rgba(255,255,255,.6);

	}
	
	label {
  font-size: 13px;
  margin-bottom: 8px;
	}
	
	 .search-input {
        width:80%;
        margin: 0 auto;
    }

@media only screen and (min-width: 960px) {
    .mobile     {   display: none;      }
    .tablet     {   display: none;      }
    .desktop    {   display: block;     }

    .col-lg-1  { width: 8.333333333333332%;    }
    .col-lg-2  { width: 16.666666666666664%;   }
    .col-lg-3  { width: 25%;                   }
    .col-lg-4  { width: 33.33333333333333%;    }
    .col-lg-5  { width: 41.66666666666667%;    }
    .col-lg-6  { width: 50%;                   }
    .col-lg-7  { width: 58.333333333333336%;   }
    .col-lg-8  { width: 66.66666666666666%;    }
    .col-lg-9  { width: 75%;                   }
    .col-lg-10 { width: 83.33333333333334%;    }
    .col-lg-11 { width: 91.66666666666666%;    }
    .col-lg-12 { width: 100%;                  }
    .col-lg-offset-0 { margin-left: 0%; }
    .col-lg-offset-1 { margin-left: 8.333333333333332%; }
    .col-lg-offset-2 { margin-left: 16.666666666666664%; }
    .col-lg-offset-3 { margin-left: 25%; }
    .col-lg-offset-4 { margin-left: 33.33333333333333%; }
    .col-lg-offset-5 { margin-left: 41.66666666666667%; }
    .col-lg-offset-6 { margin-left: 50%; }
    .col-lg-offset-7 { margin-left: 58.333333333333336%; }
    .col-lg-offset-8 { margin-left: 66.66666666666666%; }
    .col-lg-offset-9 { margin-left: 75%; }
    .col-lg-offset-10 { margin-left: 83.33333333333334%; }
    .col-lg-offset-11 { margin-left: 91.66666666666666%; }
    .col-lg-offset-12 { margin-left: 100%; }

    h1, h2 {
        display: block;
        float: left;
        text-align: left;
    }

    h1 {
        margin: 21px 0 0 2.4em;
        font-size: 28px;
    }

    h2 {
        margin: 26px 0 0 1em;
        font-size: 16px;
    }

    h3 {
        font-size: 14px;
        line-height: 24px;
    }
    
	
	.main-input {
    margin-top: 30px;
    padding-top:15px;
    padding-bottom:20px;
    width:100%;
    z-index:1000;
    background: rgba(255,255,255,.6);

	}
	
		label {
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}

    .input-block,
    .content-block {
        padding: 1.575em 0;
    }

    .search-input {
        width:80%;
    }

    .overlay {
        margin-top: -15%;
    }

    .local {
        font-size: 24px;
        line-height: 36px;
    }

    .deck                   { height: 160px; }
    .deck .mask             { height: 160px; }
    .deck-hat               { padding-top: 12px; }
    .modal                  { text-align: left; }

    .map-pop                { width: 600px; }

    #initial-modal {
        left: 6%;
        top: 12%;
        width: 320px;
    }

    #condition-now {
        padding: 2px 8px;
        border-radius: 6px;
        margin-top: 6px;
    }
}
